<!DOCTYPE html>

<html>
 <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link rel = 'stylesheet' href= "stylesheets/stylesheet.css">
<style>
h3 {
    font-family: 'Raleway';
    font-size: 25px;
    color: #49664d;
}
  button {
    font-family: 'Raleway';
}
  body {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    </style>
<style>
h1 {
    font-family: 'Raleway';
    font-size: 42px;
}
  body {
    font-family: 'Libre Baskerville';font-size: 15px;
}
</style>
    <title>Safest Ford Hatchbacks under $7,500</title>
  </head>

  <body>
    <img src="http://i64.tinypic.com/aa6br.png">
    
    <a href = "/"><button class="tablink" onclick="openPage('Home', this, '#b9c4b8')">Home</button></a>
<a href = "/stats"><button class="tablink" onclick="openPage('Stats', this, '#b9c4b8')" id="defaultOpen">Stats</button></a>
<a href = "/findacar"><button class="tablink" onclick="openPage('FindACar', this, '#b9c4b8')">Find A Car</button></a>
<a href = "/about"><button class="tablink" onclick="openPage('About', this, '#b9c4b8')">About</button></a>
    <li>2010 Ford Fusion Hybrid- this car costs an average of $11,996. It received  a high rating for safety from the NHTSA. It's safety rating and high reliability score makes it a good car for a new driver. </li>
  <img src=http://d1arsn5g9mfrlq.cloudfront.net/sites/default/files/chrome_images/ChromeImageGallery/Expanded/Transparent/640/2010FRD015a_640/2010FRD015a_640_01.png>
<li>2014 Ford Focus- this car costs an average of $11,737. It received  a 5 star rating on all fronts from the NHTSA. It's high safety rating and it's newness make it the perfect car for new drivers. </li>
  <img src= http://d1arsn5g9mfrlq.cloudfront.net/sites/default/files/chrome_images/ChromeImageGallery/Expanded/Transparent/640/2014FRD014d_640/2014FRD014d_640_01.png>

  </body>
</html>
