<!DOCTYPE html>

<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link rel = 'stylesheet' href= "stylesheets/stylesheet.css">
<style>
h3 {
    font-family: 'Raleway';
    font-size: 25px;
    color: #49664d;
}
  button {
    font-family: 'Raleway';
}
  body {
    font-family: 'Libre Baskerville';
    font-size: 25px;
    </style>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
<style>
h1 {
    font-family: 'Raleway';
    font-size: 42px;
}
  body {
    font-family: 'Libre Baskerville';font-size: 25px;
}
</style>
    <title>Information and Statistics</title>
  </head>
  <body>
    <img src="http://i64.tinypic.com/aa6br.png">
    
    <a href = "/"><button class="tablink" onclick="openPage('Home', this, '#b9c4b8')">Home</button></a>
<a href = "/stats"><button class="tablink" onclick="openPage('Stats', this, '#b9c4b8')" id="defaultOpen">Stats</button></a>
<a href = "/findacar"><button class="tablink" onclick="openPage('FindACar', this, '#b9c4b8')">Find A Car</button></a>
<a href = "/about"><button class="tablink" onclick="openPage('About', this, '#b9c4b8')">About</button></a>

<h1>Information and Statistics</h1>
    <p>Information on Handling Car Emergencies/Accidents</p>
    <ul>
<li>Click the images below for more information and helpful tips:</li>
    </ul>
    
    <a href = "https://www.ontariochrysler.ca/blog/2016/april/29/what-to-do-in-case-of-a-car-accident-in-toronto-infographic.htm"><img src = "https://pictures.dealer.com/o/ontariochryslertc/0026/229503d28f4c1f17353368ce0341b2ecx.jpg" width = 300px></a>
    <a href = "https://stormandoutage.com/2016/11/07/prepared-winter-driving/"><img src = "https://stormandoutage.com/wp-content/uploads/2014/12/TIP_WinterWeatherCarKit1.jpg" width = 250px></a>
    <a href = "https://www.chicmoto.com/car-accident/"><img src = "https://www.chicmoto.com/wp-content/uploads/2017/05/To-Michelle.png" width = 300px></a>
    <a href = "http://survival-mastery.com/med/health/car-safety-kit.html"><img src = "http://i63.tinypic.com/15fjbtd.png" width = 300px></a>
    <p><br><br>Statistics on Teen Driving:</p>
<ul>
<li>Six out of ten teen crashes involve driver distraction</li>
<li>Talking on a cell phone can slow a young driver's reaction time down to that of a seventy year old</li>
<li>Crash risk for teens increases incrementally with each mile per hour over the speed limit</li>
<li>Car accidents are the leading cause of teenage deaths</li>
<li>Eight teens a day are killed in car crashes</li>
  
</ul>
    <img src = "https://cbsmiami.files.wordpress.com/2015/03/vcsprasset_522440_107362_22082548-4617-4c20-a8f3-b27d6fe157ce_0.jpg" width = 380px>
    <img src = "https://pbs.twimg.com/media/CrJPbkTXYAAD-Pb.jpg" width = 275px>
    <img src = "https://i.pinimg.com/originals/b3/cc/87/b3cc8750119f7ff95c3616237c957414.png" width = 500px>
  </body>
</html>
