<!DOCTYPE html>

<html>
  <head>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link rel = 'stylesheet' href= "stylesheets/stylesheet.css">
<style>
h3 {
    font-family: 'Raleway';
    font-size: 45px;
    color: #49664d;
}
  button {
    font-family: 'Raleway';
}
  body {
    font-family: 'Libre Baskerville';
    font-size: 25px;
}
h1 {
    font-family: 'Raleway';
    font-size: 42px;
}
  body {
    font-family: 'Libre Baskerville';font-size: 15px;
}
</style>    <title>Safest Hyundai SUVs under $7,500</title>
    <link rel="stylesheet" href="stylesheets/biostyles.css" type="text/css">
  </head>
 <img src="http://i64.tinypic.com/aa6br.png">
    
    <a href = "/"><button class="tablink" onclick="openPage('Home', this, '#b9c4b8')">Home</button></a>
<a href = "/stats"><button class="tablink" onclick="openPage('Stats', this, '#b9c4b8')" id="defaultOpen">Stats</button></a>
<a href = "/findacar"><button class="tablink" onclick="openPage('FindACar', this, '#b9c4b8')">Find A Car</button></a>
<a href = "/about"><button class="tablink" onclick="openPage('About', this, '#b9c4b8')">About</button></a>

  <body>
    <h1>About Us!<br></h1>
    
    
    <p1><i>A note from the creators: </i>   We all came in on the first day of camp knowing we'd learn about coding, but otherwise not quite knowing exactly what we'd learn or do. Each of us brought different skills and various ranges of knowledge of coding and computer science. Throughout the two weeks of camp we learned new programming languages and gained a deeper understanding of coding. Leaving this camp, not only do we now know these things, but we also have a greater perspective of the impact that code has on the world and the impacts we can make to change the world around us with our new coding skills. We built this website in hopes to help our communities by making the roads safer especially for teen drivers by providing information on the safest cars available. </p1>
    <p>This website is brought to you by Maggie Behen, Grace Collins, Helen Paulini, and Rachel Soule, and we are <a href ="https://www.kodewithklossy.com/"> Kode with Klossy</a> Scholars from the 2018 Boston session. Learn a bit about each of us below! <br><br><br></p>
    <p>&emsp;&emsp;&emsp;&emsp;Maggie &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  Grace &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; Helen &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; Rachel </p>
    
     <img src="http://i64.tinypic.com/242zhbn.png" width = 240px>
      <img src="http://i63.tinypic.com/15y7tdu.png" border="0" alt="Image and video hosting by TinyPic" width = 240px hspace="40px">
    
    <img src="http://i68.tinypic.com/2dtp4ed.png" border="0" alt="Image and video hosting by TinyPic" width = 240px hspace="30px">
    
    <img src="http://i64.tinypic.com/28sal8h.png" border="0" alt="Image and video hosting by TinyPic" width = 240px hspace="30px">
    <div class="column">
    <p>Maggie is from Maine <br>and will be a senior in <br>high school next year. </p>
</div>
<div class="column">
    <p>Grace is from Massachusetts and will <br>be going to NYC for college next year at Fordham University.</p>
</div>
<div class="column">
    <p>Helen is from Pennsylvania and will be <br>going to California <br>for college next year at Pomona College.</p>
</div>
<div class="column">
    <p>Rachel is from Massachusetts and will be a junior in highschool next year.</p>
</div>
    <h1><br><br><br><br><img src="http://i63.tinypic.com/17v85i.jpg" alt="Klosston" align="middle"></h1>
    
    <p>P.S. Special thanks to our awesome instructor Nick, as well as our TA's: Ethan, Grace, Tallie, and of course, Zoë for an awesome two weeks :)</p>
    
  </body>
</html>
