<!DOCTYPE html>

<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link rel = 'stylesheet' href= "stylesheets/stylesheet.css">
<style>
h3 {
    font-family: 'Raleway';
    font-size: 45px;
    color: #49664d;
}
  button {
    font-family: 'Raleway';
}
  body {
    font-family: 'Libre Baskerville';
    font-size: 25px;
}
</style>
    <title>Safe Auto Homepage</title>
  </head>

  <body>
    
    <img src="http://i64.tinypic.com/aa6br.png">
    
    <a href = "/"><button class="tablink" onclick="openPage('Home', this, '#b9c4b8')">Home</button></a>
<a href = "/stats"><button class="tablink" onclick="openPage('Stats', this, '#b9c4b8')" id="defaultOpen">Stats</button></a>
<a href = "/findacar"><button class="tablink" onclick="openPage('FindACar', this, '#b9c4b8')">Find A Car</button></a>
<a href = "/about"><button class="tablink" onclick="openPage('About', this, '#b9c4b8')">About</button></a>


  <br>
  <h3>      </h3>
  <h3>Welcome!</h3>
  
  <p>Welcome to Auto Safe, the site for choosing the safest cars for teens and new drivers. </p>
    <p>Choose a car that's right for you, and learn more about car safety today!</p>


<!--<div id="Stats" class="tabcontent">-->
<!--  <h3>Learn About Car Safety</h3>-->
<!--  <p>Some news this fine day!</p> -->
<!--</div>-->

<!--<div id="FindACar" class="tabcontent">-->
<!--  <h3>Find the Safest Cars for New Drivers</h3>-->
<!--  <p>Get in touch, or swing by for a cup of coffee.</p>-->
<!--</div>-->

<!--<div id="About" class="tabcontent">-->
<!--  <h3>About Us!</h3>-->
<!--  <p>Who we are and what we do.</p>-->
<!--</div>-->
           
  </body>
</html>
