<!DOCTYPE html>

<html>
 <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link rel = 'stylesheet' href= "stylesheets/stylesheet.css">
<style>
h3 {
    font-family: 'Raleway';
    font-size: 25px;
    color: #49664d;
}
  button {
    font-family: 'Raleway';
}
  body {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    </style>
<style>
h1 {
    font-family: 'Raleway';
    font-size: 42px;
}
  body {
    font-family: 'Libre Baskerville';font-size: 15px;
}
</style>
    <title>Safest Ford Hatchbacks under $7,500</title>
  </head>

  <body>
    <img src="http://i64.tinypic.com/aa6br.png">
    
    <a href = "/"><button class="tablink" onclick="openPage('Home', this, '#b9c4b8')">Home</button></a>
<a href = "/stats"><button class="tablink" onclick="openPage('Stats', this, '#b9c4b8')" id="defaultOpen">Stats</button></a>
<a href = "/findacar"><button class="tablink" onclick="openPage('FindACar', this, '#b9c4b8')">Find A Car</button></a>
<a href = "/about"><button class="tablink" onclick="openPage('About', this, '#b9c4b8')">About</button></a>
   <li>2018 Honda Accord Sedan- this car costs an average of $23,570. It recieved a 5 star safety rating on all fronts from the NHTSA. It's excellent safety rating and modern technology make it the perfect car for a new driver. </li>
  <img src=https://di-uploads-pod15.dealerinspire.com/hondaofnewrochelle/uploads/2018/01/2018-Honda-Accord-Hero-Image.png>
  <br>
<li>2018 Honda Accord Hybrid- this car costs an average of $25,100. It recieved a 5 star safety rating on all fronts from the NHTSA. It's excellent safety rating and bluetooth capabilities make it the perfect car for new drivers.</li>
  <img src= https://stock.fzautomotive.com/color_0640_032_png/MY2018/12627/12627_cc0640_032_SV.png?404=default>

    </ul>
  </body>
</html>
