<!DOCTYPE html>

<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link rel = 'stylesheet' href= "stylesheets/stylesheet.css">
<style>
h3 {
    font-family: 'Raleway';
    font-size: 25px;
    color: #49664d;
}
  button {
    font-family: 'Raleway';
}
  body {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    </style>
<style>
h1 {
    font-family: 'Raleway';
    font-size: 42px;
}
  body {
    font-family: 'Libre Baskerville';font-size: 15px;
}
</style>
    <title>Safest Ford Hatchbacks under $7,500</title>
  </head>

  <body>
    <img src="http://i64.tinypic.com/aa6br.png">
    
    <a href = "/"><button class="tablink" onclick="openPage('Home', this, '#b9c4b8')">Home</button></a>
<a href = "/stats"><button class="tablink" onclick="openPage('Stats', this, '#b9c4b8')" id="defaultOpen">Stats</button></a>
<a href = "/findacar"><button class="tablink" onclick="openPage('FindACar', this, '#b9c4b8')">Find A Car</button></a>
<a href = "/about"><button class="tablink" onclick="openPage('About', this, '#b9c4b8')">About</button></a>
    <h1>Safest Subaru SUVs between $7,500 and $10,000</h1>
    <p>Showing options with lowest price for used car - </p>
    <ul>
      
      
      <li><a href="https://www.consumerreports.org/cars/subaru/outback">Subaru Outback ($8,600)</a> </li>
      <img src = "https://www.subaru.com/content/dam/subaru/vehicles/2018/OBK/vsp/landing-page/Compare_Models/18_OBK_JDF_024_K7U.png">
      
      
    </ul>
  </body>
</html>
